ACCESS_TOKEN_EXPIRE_MINUTES=10
ALGORITHM=HS256
POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres
POSTGRES_DB=postgres
POSTGRES_HOST=postgres
POSTGRES_SCHEMA=public
POSTGRES_PORT=5432
SECRET_KEY=4553672528b272a505bfc35b61d62ee06a6c5198e63302b975d1b2ab438a0cee
IMAGE_UPLOAD_DIR="static/images/posts"
PAGINATION_SIZE=10
REFRESH_TOKEN_EXPIRE_DAYS=7
REDIS_DB=0
REDIS_HOST=redis
REDIS_PORT=6379
